@import "../../../../../variable.scss";

.div-sec{
    margin: .7rem;
    padding: .5rem;
    box-shadow: 2px 2px 5px #888;
}
.div-search{

    display: flex;
    justify-content: space-between;

    button, label{
        background-color: $primario;
        color: white;
    }

    label{
        display: none;
    }
}

.div-table{
    margin: .7rem;
    padding: .5rem;

    table{
        width: 100%;
        thead > tr{
            border-bottom-width: thin;
            border-bottom-color: $primario;
            font-size: medium;

        }

        tfoot{
            font-size: medium;
            color: white;
            background-color: $primario;
        }
        .col-g{ 
            padding-left: 5px;
            padding-right: 5px;}
        .col-num{
          color: $primario;
          border-right: $primario;
          border-style: solid;
          border-right-width: thin;

          width: 2rem;
        }
        .col-titulo{
        
        }

        .col-priority{
            width: 5rem;
        }
        .col-opt{
            width: 11rem;
        }
    }
}

.ready{
    background-color: rgb(48, 104, 48);
    color: white;
}