<main class="container">

   <div class="div-sec div-search">
        <div class="input-group">
            <label class="input-group-text" for="input-buscar">Search:</label>
            <input type="text" name="input-buscar" id="input-buscar" placeholder="New task" aria-describedby="select-priotity">
            <label class="input-group-text" for="input-buscar">Priority:</label>
            <select name="select-priotity," id="select-priotity" >
                <option value="5">all</option>
                <option value="0">Low</option>
                <option value="1">Normal</option>
                <option value="2">Middle</option>
                <option value="3">High</option>
            </select>
        </div>
       <button class="btn "> <i class="bi bi-plus-circle"></i></button>
   </div>

   <div class="div-sec div-table">
       <table >
           <thead>
               <tr>
                   <th class="col-g col-num">Num</th>
                   <th class="col-g col-titulo">Titulo</th>
                   <th class="col-g col-opt">Option</th>
               </tr>
           </thead>
           <tbody>
               <tr *ngFor="let task of listTask; index as i">
                   <td class="col-g col-num">{{i}}</td>
                   <td class="col-g col-titulo"> {{task.title}}</td>
                   <td class="col-g col-opt">contenido</td>
               </tr>
           </tbody>
       </table>
   </div>
</main>